<form id = "form-share">
	<h1>share a new fortune cookie</h1>
	<!--<h2 class="form-share-heading">Please fill in the form</h2>-->
	<!--<label for="text" class="sr-only">Text</label>-->
	<!--<input type="text" id="text" class="form-control" placeholder="Text">-->
	<!--<label for="category" class="sr-only">Category</label>-->
	<!--<input type="text" id="category" class="form-control" placeholder="category">-->
	<!--<label for="url" class="sr-only">Image url</label>-->
	<!--<input type="text" id="url" class="form-control" placeholder="image url">-->
	<!--<button class="btn btn-lg btn-success btn-block" type="submit">Share</button>-->
</form>