<section class="jumbotron text-xs-center">
    <div class="container">
        <h1 class="jumbotron-heading">Fortune cookies</h1>
        <p>
            <a href="#" id="by-date" class="btn btn-primary">Sort by date</a>
            <a href="#" id="by-likes" class="btn btn-secondary">Sort by likes</a>
        </p>
    </div>
</section>
<div class="album text-muted">
    <div class="container">
        {{#each this}}
        <div class="row">
            <div class="cookie-details" data-id="{{id}}">
                <div class="card">
                    <img src="{{img}}" class="cookie-img">
                    <h3><a href="#/category/{{category}}" class="cookie-category">{{category}}</a></h3>
                    <p class="card-text cookie-text">{{text}}</p>
                    <p>
                        <span class="likes-count">Likes: {{likes}}</span><br>
                        <span class="dislikes-count">Dislikes: {{dislikes}}</span><br>
                        <span class="shareDate">Shared on: {{shareDate}}</span>
                    </p>
                    <p>
                        <button class="like btn btn-primary">Like</button>
                        <button class="dislike btn btn-danger">Dislike</button>
                        <button class="share btn btn-success">Share</button>
                    </p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>