body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

#form-sign-up,
#form-login,
#form-share {
    max-width: 450px;
    padding: 15px;
    margin: 0 auto;
}

#form-sign-up .form-sign-up-heading,
#form-login .form-login-heading,
#form-share .form-share-heading {
    margin-bottom: 10px;
}

#form-sign-up .form-control,
#form-login .form-control,
#form-share .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

#form-sign-up .form-control:focus,
#form-login .form-control:focus,
.form-share .form-control:focus {
    z-index: 2;
}

#form-sign-up input[type="text"],
#form-login input[type="text"],
#form-share input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#form-sign-up input[type="password"],
#form-log-in input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.hidden {
    visibility: hidden !important;
}

img {
    width: 356px;
    height: 280px;
}

#alert {
    position: absolute;
    top: 0;
    left: 60%;
    z-index: 100000;
    font-size: 18px;
}

footer div p {
    padding-left:35%;
}